<div id="hybrid-logo" style="float: left; margin-right: 20px;">
	<img src="images/hybrid/hybrid-logo_istruction.png" height="100px" width="100px" style="display:block;">
</div>
<div style="padding: 5px;">
<h2 style="padding: 0; margin: 0; margin-bottom: 10px; color: red">Connessione con Hybrid fallita!</h2>
<p>Non è stato possibile collegarsi al client, forse l'installazione ha avuto qualche problema</p>

<p style="margin-top: 40px"><a href="javascript:Hybrid.install()" class="hybrid-btn">Esegui nuovamente il download di Hybrid</a></p>

</div>
