<div id="hybrid-logo" style="float: left; margin-right: 20px;">
	<img src="images/hybrid/hybrid-logo_istruction.png" height="100px" width="100px" style="display:block;">
</div>
<div style="padding-left: 120px">
<h2>Hybrid non &egrave; avviato</h2>
<p>Per avviare Hybrid è sufficiente eseguire i seguenti passi:</p>
<ol>
    <li>Fare click sul pulsante e scaricare il file</li>
    <li>Aprire il file scaricato</li>
    <li>Fare click su conferma alla comparsa della schermata di informazioni sulla sicurezza</li>
</ol>
<p><strong>Nota:</strong> Hybrid rimarr&agrave; attivo fino allo spegnimento del tuo computer. Questa operazione viene eseguita una sola volta per ogni tua sessione di lavoro.</p>

<p style="margin-top: 40px"><a href="javascript:Hybrid.install()" class="hybrid-btn">Avvia ora Hybrid</a></p>
</div>