<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="oomanager" class="it.eng.utility.oomanager.config.OpenOfficeConfiguration">		
		<!--Va settata al minino uno in più degli openoffice configurati in modo da permettere il giro-->
		<property name="maxTrytoconvert" value="2"></property>		
		<property name="instances">						
			<util:list value-type="it.eng.utility.oomanager.config.OpenOfficeInstance">
				<bean class="it.eng.utility.oomanager.config.OpenOfficeInstance">
					<property name="host" value="127.0.0.1"></property>
					<property name="port" value="8100"></property>
					<property name="servicename" value="OpenOffice_1"></property>
				</bean>
			</util:list>
		</property>	
	</bean>
	
</beans>