@font-face {
	font-family: Arial Unicode MS;
	src: url("arialuni.ttf");
	-fs-pdf-font-embed: embed;
	-fs-pdf-font-encoding: Identity-H;
}

* {
	font-family: Arial Unicode MS;
}

table {
    -fs-table-paginate: paginate
}

@page {
    
    @bottom-right { 
        content:counter(page)"/"counter(pages);
    }

    /*margin-top: 3.3cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 3.3cm;*/

    size: A4 portrait;
}