<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
	<Appenders>
		<Routing name="Routing">
			<Routes pattern="$${ctx:ROUTINGKEY}">

				<!-- This route is chosen if ThreadContext has value 'special' for key 
					ROUTINGKEY. -->
				<Route key="special">
					<RollingFile name="Rolling-${ctx:ROUTINGKEY}" fileName="C:\\Logs\\AurigaMail\\special-${ctx:ROUTINGKEY}.log"
						filePattern="C:\\Logs\\AurigaMail\\${date:yyyy-MM}\\${ctx:ROUTINGKEY}-special-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout>
							<pattern>%d{ISO8601} [%t] %p %c{3} - %m%n</pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="6"
								modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>

				<!-- This route is chosen if ThreadContext has no value for key ROUTINGKEY. -->
				<Route key="$${ctx:ROUTINGKEY}">
					<RollingFile name="Rolling-default" fileName="C:\\Logs\\AurigaMail\\default.log"
						filePattern="C:\\Logs\\AurigaMail\\${date:yyyy-MM}\\default-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout>
							<pattern>%d{ISO8601} [%t] %p %c{3} - %m%n</pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="6"
								modulate="true" />
							<SizeBasedTriggeringPolicy size="10 MB" />
						</Policies>
					</RollingFile>
				</Route>

				<!-- This route is chosen if ThreadContext has a value for ROUTINGKEY 
					(other than the value 'special' which had its own route above). The value 
					dynamically determines the name of the log file. -->
				<Route>
					<RollingFile name="Rolling-${ctx:ROUTINGKEY}" fileName="C:\\Logs\\AurigaMail\\mail-${ctx:ROUTINGKEY}.log"
						filePattern="C:\\Logs\\AurigaMail\\${date:yyyy-MM}\\${ctx:ROUTINGKEY}-other-%d{yyyy-MM-dd}-%i.log.gz">
						<PatternLayout>
							<pattern>%d{ISO8601} [%t] %p %c{3} - %m%n</pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy interval="6"
								modulate="true" />
							<SizeBasedTriggeringPolicy size="1 MB" />
						</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Routing" />
		</Root>
	</Loggers>
</Configuration>