<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">auri_owner_1</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@172.27.1.139:1521:AURIGA</property>
        <property name="hibernate.connection.username">AURI_OWNER_1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.default_schema">AURI_OWNER_1</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.c3p0.min_size">1</property> 
		<property name="hibernate.c3p0.max_size">10</property> 
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.check_nullability">false</property>
    </session-factory>
</hibernate-configuration>
