<?xml version="1.0" encoding="UTF-8"?><log4j:configuration>	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">		<layout class="org.apache.log4j.PatternLayout">			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss,SSS} %5p (%F:%L) - %m%n" />		</layout>	</appender>	<appender name="R" class="org.apache.log4j.RollingFileAppender">		<param name="File" value="D:/Log/Development/AurigaMail/AurigaMail.log" />		<param name="Append" value="true" />		<param name="Encoding" value="UTF-8" />		<param name="MaxFileSize" value="10MB" />		<param name="MaxBackupIndex" value="4" />		<layout class="org.apache.log4j.PatternLayout">			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss,SSS} %5p (%F:%L) - %m%n" />		</layout>	</appender>	<root>		<level value="ERROR"/>		<appender-ref ref="R"/>	</root></log4j:configuration>