<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
      http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <mapping map-id = "def">
        <class-a>it.eng.stilo.model.core.QueueDocument</class-a>
        <class-b>it.eng.stilo.web.dto.QueueDocumentDTO</class-b>
        <field>
            <a>id</a>
            <b>identifier</b>
        </field>
        <field>
            <a>name</a>
            <b>title</b>
        </field>
        <field>
            <a>status</a>
            <b>statusCode</b>
        </field>
        <field>
            <a>attempts</a>
            <b>attempts</b>
        </field>
        <field>
            <a>communicated</a>
            <b>sendTime</b>
        </field>
        <field>
            <a>inserted</a>
            <b>creationTime</b>
        </field>
        <field>
            <a>path</a>
            <b>repositoryPath</b>
        </field>
        <field>
        	<a>aooCode</a>
        	<b>aooCode</b>
        </field>
        <field>
        	<a>structureCode</a>
        	<b>structureCode</b>
        </field>
        <field>
        	<a>nodeCode</a>
        	<b>nodeCode</b>
        </field>
        <field>
            <a>documentType</a>
            <b>docType</b>
        </field>
        <field>
        	<a>dossierCode</a>
        	<b>dossierCode</b>
        </field>
        <field>
        	<a>modified</a>
        	<b>modifiedTime</b>
        </field>
        <field>
        	<a>documentId</a>
        	<b>documentId</b>
        </field>
        <field>
        	<a>classificationId</a>
        	<b>classificationId</b>
        </field>
        <field map-id="mainDoc">
        	<a>mainDocument</a>
        	<b>mainDocumentDTO</b>
        </field>
        <field-exclude>
        	<a>attachments</a>
        	<b>attachmentsDTO</b>
        </field-exclude>
        <field>
        	<a>classified</a>
        	<b>classified</b>
        </field>
        <field>
        	<a>swStructureCode</a>
        	<b>swStructureCode</b>
        </field>
    </mapping>

	<mapping>
        <class-a>it.eng.stilo.model.core.DocumentType</class-a>
        <class-b>it.eng.stilo.web.dto.DocumentTypeDTO</class-b>
        <field>
            <a>id</a>
            <b>typeCode</b>
        </field>
        <field>
            <a>name</a>
            <b>typeName</b>
        </field>
    </mapping>

    <mapping map-id = "B">
        <class-a>it.eng.stilo.model.core.QueueDocument</class-a>
        <class-b>it.eng.stilo.web.dto.QueueDocumentDTO</class-b>
        <field>
            <a>documentLogs</a>
            <b>logs</b>
        </field>
    </mapping>

    <mapping>
        <class-a>it.eng.stilo.model.core.DocumentLog</class-a>
        <class-b>it.eng.stilo.web.dto.DocumentLogDTO</class-b>
        <field>
            <a>value</a>
            <b>text</b>
        </field>
        <field>
            <a>outBound</a>
            <b>request</b>
        </field>
        <field>
            <a>flowId</a>
            <b>flowIdentifier</b>
        </field>
        <field>
            <a>inserted</a>
            <b>flowTime</b>
        </field>
    </mapping>
    
    <mapping map-id = "C">
        <class-a>it.eng.stilo.model.core.QueueDocument</class-a>
        <class-b>it.eng.stilo.web.dto.QueueDocumentDTO</class-b>
        <field>
            <a>id</a>
            <b>identifier</b>
        </field>
        <field>
            <a>name</a>
            <b>title</b>
        </field>
        <field>
            <a>status</a>
            <b>statusCode</b>
        </field>
        <field>
            <a>attempts</a>
            <b>attempts</b>
        </field>
        <field>
            <a>communicated</a>
            <b>sendTime</b>
        </field>
        <field>
            <a>inserted</a>
            <b>creationTime</b>
        </field>
        <field>
            <a>path</a>
            <b>repositoryPath</b>
        </field>
        <field>
        	<a>aooCode</a>
        	<b>aooCode</b>
        </field>
        <field>
        	<a>structureCode</a>
        	<b>structureCode</b>
        </field>
        <field>
        	<a>nodeCode</a>
        	<b>nodeCode</b>
        </field>
        <field>
            <a>documentType</a>
            <b>docType</b>
        </field>
        <field>
        	<a>dossierCode</a>
        	<b>dossierCode</b>
        </field>
        <field>
        	<a>modified</a>
        	<b>modifiedTime</b>
        </field>
        <field>
        	<a>documentId</a>
        	<b>documentId</b>
        </field>
        <field>
        	<a>classificationId</a>
        	<b>classificationId</b>
        </field>
        <field map-id = "attach">
            <a>attachments</a>
            <b>attachmentsDTO</b>
        </field>
    </mapping>
    
    <mapping map-id = "attach">
        <class-a>it.eng.stilo.model.core.QueueDocument</class-a>
        <class-b>it.eng.stilo.web.dto.QueueDocumentDTO</class-b>
        <field>
            <a>id</a>
            <b>identifier</b>
        </field>
        <field>
            <a>name</a>
            <b>title</b>
        </field>
        <field>
            <a>status</a>
            <b>statusCode</b>
        </field>
        <field>
            <a>attempts</a>
            <b>attempts</b>
        </field>
        <field>
            <a>communicated</a>
            <b>sendTime</b>
        </field>
        <field>
            <a>inserted</a>
            <b>creationTime</b>
        </field>
        <field>
            <a>path</a>
            <b>repositoryPath</b>
        </field>
        <field>
        	<a>aooCode</a>
        	<b>aooCode</b>
        </field>
        <field>
        	<a>structureCode</a>
        	<b>structureCode</b>
        </field>
        <field>
        	<a>nodeCode</a>
        	<b>nodeCode</b>
        </field>
        <field>
            <a>documentType</a>
            <b>docType</b>
        </field>
        <field>
        	<a>dossierCode</a>
        	<b>dossierCode</b>
        </field>
        <field>
        	<a>modified</a>
        	<b>modifiedTime</b>
        </field>
        <field>
        	<a>documentId</a>
        	<b>documentId</b>
        </field>
        <field>
        	<a>classificationId</a>
        	<b>classificationId</b>
        </field>
        <field-exclude>
        	<a>mainDocument</a>
        	<b>mainDocumentDTO</b>
        </field-exclude>
        <field-exclude>
        	<a>attachments</a>
        	<b>attachmentsDTO</b>
        </field-exclude>
        <field>
        	<a>classified</a>
        	<b>classified</b>
        </field>
        <field>
        	<a>swStructureCode</a>
        	<b>swStructureCode</b>
        </field>
    </mapping>
    
    <mapping map-id = "mainDoc">
        <class-a>it.eng.stilo.model.core.QueueDocument</class-a>
        <class-b>it.eng.stilo.web.dto.QueueDocumentDTO</class-b>
        <field>
            <a>id</a>
            <b>identifier</b>
        </field>
        <field>
            <a>name</a>
            <b>title</b>
        </field>
        <field-exclude>
            <a>status</a>
            <b>statusCode</b>
        </field-exclude>
        <field-exclude>
            <a>attempts</a>
            <b>attempts</b>
        </field-exclude>
        <field-exclude>
            <a>communicated</a>
            <b>sendTime</b>
        </field-exclude>
        <field-exclude>
            <a>inserted</a>
            <b>creationTime</b>
        </field-exclude>
        <field-exclude>
            <a>path</a>
            <b>repositoryPath</b>
        </field-exclude>
        <field-exclude>
        	<a>aooCode</a>
        	<b>aooCode</b>
        </field-exclude>
        <field-exclude>
        	<a>structureCode</a>
        	<b>structureCode</b>
        </field-exclude>
        <field-exclude>
        	<a>nodeCode</a>
        	<b>nodeCode</b>
        </field-exclude>
        <field>
            <a>documentType</a>
            <b>docType</b>
        </field>
        <field-exclude>
        	<a>dossierCode</a>
        	<b>dossierCode</b>
        </field-exclude>
        <field-exclude>
        	<a>modified</a>
        	<b>modifiedTime</b>
        </field-exclude>
        <field-exclude>
        	<a>documentId</a>
        	<b>documentId</b>
        </field-exclude>
        <field-exclude>
        	<a>classificationId</a>
        	<b>classificationId</b>
        </field-exclude>
        <field-exclude>
        	<a>mainDocument</a>
        	<b>mainDocumentDTO</b>
        </field-exclude>
        <field-exclude>
        	<a>attachments</a>
        	<b>attachmentsDTO</b>
        </field-exclude>
        <field-exclude>
        	<a>classified</a>
        	<b>classified</b>
        </field-exclude>
        <field-exclude>
        	<a>swStructureCode</a>
        	<b>swStructureCode</b>
        </field-exclude>
    </mapping>
    
    <mapping map-id = "D">
        <class-a>it.eng.stilo.model.core.QueueDocument</class-a>
        <class-b>it.eng.stilo.web.dto.QueueDocumentDTO</class-b>
        <field>
            <a>id</a>
            <b>identifier</b>
        </field>
        <field>
            <a>name</a>
            <b>title</b>
        </field>
        <field>
            <a>status</a>
            <b>statusCode</b>
        </field>
        <field>
            <a>attempts</a>
            <b>attempts</b>
        </field>
        <field>
            <a>communicated</a>
            <b>sendTime</b>
        </field>
        <field>
            <a>inserted</a>
            <b>creationTime</b>
        </field>
        <field>
            <a>path</a>
            <b>repositoryPath</b>
        </field>
        <field>
        	<a>aooCode</a>
        	<b>aooCode</b>
        </field>
        <field>
        	<a>structureCode</a>
        	<b>structureCode</b>
        </field>
        <field>
        	<a>nodeCode</a>
        	<b>nodeCode</b>
        </field>
        <field>
            <a>documentType</a>
            <b>docType</b>
        </field>
        <field>
        	<a>dossierCode</a>
        	<b>dossierCode</b>
        </field>
        <field>
        	<a>modified</a>
        	<b>modifiedTime</b>
        </field>
        <field>
        	<a>documentId</a>
        	<b>documentId</b>
        </field>
        <field>
        	<a>classificationId</a>
        	<b>classificationId</b>
        </field>
        <field map-id="attach">
        	<a>mainDocument</a>
        	<b>mainDocumentDTO</b>
        </field>
        <field map-id="D">
        	<a>attachments</a>
        	<b>attachmentsDTO</b>
        </field>
        <field>
        	<a>classified</a>
        	<b>classified</b>
        </field>
        <field>
        	<a>swStructureCode</a>
        	<b>swStructureCode</b>
        </field>
    </mapping>

</mappings>
