<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
      http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <mapping map-id = "def">
        <class-a>it.eng.stilo.model.core.UserStorage</class-a>
        <class-b>it.eng.stilo.web.dto.UserStorageDTO</class-b>
        <field>
            <a>user</a>
            <b>user</b>
        </field>
        <field-exclude>
            <a>storage</a>
            <b>storage</b>
        </field-exclude>
    </mapping>

</mappings>
