<?xml version="1.0" encoding="UTF-8"?><log4j:configuration>	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">		<layout class="org.apache.log4j.PatternLayout">			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss,SSS} %5p (%F:%L) - %m%n" />		</layout>	</appender>	<appender name="R" class="org.apache.log4j.RollingFileAppender">		<param name="File" value="C:/Logs/AurigaWeb/AurigaWeb.log" />		<param name="Append" value="false" />		<param name="Encoding" value="UTF-8" />		<param name="MaxFileSize" value="4096KB" />		<param name="MaxBackupIndex" value="4" />		<layout class="org.apache.log4j.PatternLayout">			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss,SSS} %5p (%F:%L) - %m%n" />		</layout>	</appender>	<root>		<level value="DEBUG" />		<appender-ref ref="stdout" />		<appender-ref ref="R" />	</root></log4j:configuration>